{% extends 'layout.html'%}

{% block body%}

<h1>{{bookseries.name}}</h1>
  <div class="container">
    <a href = '{{url_for('newIndividualBook', bookseries_id = bookseries.id) }}'>ADD A New Book To This Series...</a>
    <div class = 'flash'>
    		      {% with messages = get_flashed_messages() %}
          {% if messages %}

            <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

    </div>
    </br>
  </div>

{% for i in items %}
<div class="container">
  <h4>{{i.name}}</h4>
  <p>{{i.author}}</p>

  <a href = '{{url_for('editindividualbookItem',bookseries_id = bookseries.id, individualbook_id=i.id)}}' >Edit</a>
  </br>
  <a href = '{{url_for('deleteindividualbook', bookseries_id = bookseries.id, individualbook_id=i.id)}}'>Delete</a>
</div>
{% endfor %}

{% endblock %}
